body {
  margin: 0;
  padding: 0;
  align-items: center;
  /* font-family:Arial, Helvetica, sans-serif; */
}

nav {
  position: fixed;
  /* background-image: conic-gradient( green, blue); */
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #262626;
  height: 55px;
  width: 100%;
  top: 0;
}
nav .logo{
width: 50px;
display: none;
}

nav .topnav {
  float: right;
  list-style: none;
  margin-right: 25px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.topnav li {
  display: inline-block;
  margin: 0 10px;
  font-size: 17px;
  line-height: 40px;
  padding-bottom: 4px;
}

nav .icon {
  display: none;
}

.closebtn {
  font-size: 36px;
  display: none;
}

.topnav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.topnav .active a {
  color: #f00;
}


nav .nav-h1 {
  float: left;
  text-transform: uppercase;
  margin-left: 15px;
  line-height: 15px;
  letter-spacing: 8px;
  color: #fff;
  font-size: 30px;
}

nav .topnav li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

nav .topnav li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.wrapper {
  /* background-image: conic-gradient( gold, green, blue, black); */
  height: 700px;
  background-image:radial-gradient(rgba(0,0,0,.4), rgba(0,0,0,.8)), url(/img/copper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.80;
  position: relative;
  width: 100%;
}

.banner {
  text-align: center;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner h2 {
  color: #fff;
  letter-spacing: 10px;
  margin-bottom: 0px;
  font-size: 70px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;

}

.banner h2 span {
  color: #f00;
}

.banner h4 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
}

input {
  width: 50%;
  align-self: center;
  border-radius: 11px;
  font-size: 20px;
  /* padding-left: 10px; */
  padding: 10px;
}

.btn-shop {
  align-self: center;
  margin-top: 150px;
  padding: 20px 60px;
  font-size: 20px;
  background-color: #f00;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}


.service {
  position: relative;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.service p {
  font-weight: 600;
  margin-top: 40px;
}

.section2 img {
  width: 200px;
}

.section2 {
  display: flex;
  justify-content: space-around;
}

.service h4 {
  font-size: 30px;
  text-align: center;
  color: #f00;
  padding-top: 20px;
}

.btn {
  border-radius: 11px;
  padding: 10px;
  background-color: darkblue;
  color: #fff;
  position: absolute;
  bottom: 50px;
  left: 140px;
  font-weight: bold;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 80px; */
}

.product h2 {
  text-align: center;
  padding-top: 10px;
  margin-top: 40px;
  font-size: 30px;
  padding-bottom: 10px;
  border: 2px solid #262626;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 20%;
  align-self: center;
}

.products-img {
  display: flex;
  justify-content: center;
  /* transform: translateX(100%); */
}

.card {
  margin: 10px;
  padding: 5px;

}

.products-img p {
  text-align: center;
  flex-wrap: wrap;
  font-weight: bold;
}

.card img {
  height: 234px;
  width: 234px;
}

.column:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2),0px 0px 30px 0px rgba(0, 0, 1, 0.2) ;
}

.animate {
  -webkit-animation: animatezoom 1s;
  animation: animatezoom 1s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.note {
  text-align: center;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  margin: 20px;
  height: 60px;
}

.note h3 {
  padding-top: 10px;
}

.ft-wrapper {
  display: flex;
  flex-direction: row;
  background: #000;
  height: 300px;
  padding-top: 20px;
  justify-content: space-around;
  position: relative;
}


footer h2 {
  color: #fff;
  letter-spacing: 10px;
  font-size: 35px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

footer h2 span {
  color: #f00;
}

.links a {
  display: flex;
  padding-top: 5px;
  flex-direction: column;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.s {
  padding-top: 35px;
  padding-left: 15px;
  font-size: 24px;
  color: #fff;
}

.ft-hd h4 a {
  color: #ccc;
  text-decoration: none;
}

.ft-hd h4 a:hover {
  color: #f00;
  text-decoration: underline;
}

.ft-hd h3 {
  color: #ccc;
}

.s:hover {
  color: #f00;
}

.links a:hover {
  color: #f00;
  text-decoration: underline;
}

.ft-hd h4 {
  font-size: 18px;
}

.sponsors {
  color: #fff;
  position: absolute;
  bottom: 10px;
}

.sponsors h5 {
  text-align: center;
  font-size: 15px;
}

.w {
  /* color: #f00; */
  padding-left: 20px;
  font-size: 20px;
}

@media (prefers-reduced-motion) 
 {
  .hidden{
    transition: none;
  }
}

@media (max-width: 1270px) {

  .products-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.products-img img{
  width: 100%;
    }  


}

@media (max-width: 1024px) {
  .column{
    display: flex;
    flex-wrap: wrap;
  }
  .column:hover {
    border-radius: 10px;
    /* width: 80%; */
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2),0px 0px 30px 0px rgba(0, 0, 1, 0.2) ;
  }
  
  .products-img{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%; */
    margin: 0 auto;
}

.products-img img{
  width: 100%;
    }  
    .product h2 {
      width: 40%;
    }
    

  }
  @media (max-width:800px) {
    .column{
      display: block;
    }
    .column:hover {
      border-radius: 10px;
      width: 100%;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2),0px 0px 30px 0px rgba(0, 0, 1, 0.2) ;
    }
    .products-img{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      margin: 0;
  }
    
    
  }

@media screen and (max-width: 600px) {

  .topnav {
    display: none;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
  }

  .topnav li  {
    display: block ;
    text-align: left;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    line-height: 50px;
  }


  nav .icon {
    float: right;
    /* margin-right: 50px; */
    padding-right: 35px;
    display: block;
    color: #fff;
    margin-top: 5px;
  }

  .topnav .closebtn {
    display: block;
    font-size: 36px;
    position: absolute;
    top: 0;
    right: 25px;
    color: #fff;
    text-decoration: none;
  }


  nav {
    height: 50px !important;
    width: 100%;
    position: fixed;
    background-color: #262626;
  }

  .nav-h1 {
    float: left;
    display: none;

  }
  nav .logo{
    display: block;
    float: left;
    margin-left: 10px;
  }

  .banner h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;

  }
  .banner h4 {
    text-align: left;
    padding-left: 8px;
  }

  .wrapper {
    background-image: url(/img/copper.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.80;
    position: relative;
    width: 100%;
  }
  .btn-shop{
    margin-top: 10px;
  }
  
  .search {
    display: none;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .product {
    display: flex;
  }

  .product h2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 80%;
    align-self: center;
    font-size: 25px;
  }

  .products-img {
    display: block;
  }

  .products-img img {
    width: 100%;
    height: 350px;
  }


  .card img {
    transition: none;
    width: 100%;
  }
  
  .card img:hover {
    transform: none;
    width: 100%;  
  }

  .service {
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    height: 280px;
  }
  
  .service p {
    font-weight: 600;
    margin-top: 10px;
    flex-wrap: wrap;
    padding: 8px;
  }
  
  .section2 img {
  display: none;
  }
  
  .section2 {
    display: block;
    position: relative;
  }
  
  .service h4 {
    font-size: 25px;
    text-align: center;
    color: #f00;
    padding-top: 20px;
  }
  
  .btn {
    border-radius: 11px;
    padding: 10px;
    background-color: darkblue;
    color: #fff;
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-weight: bold;
  }

  /* FOOTER DETAILS */

  .ft-wrapper {
    display: flex;
    flex-direction: column;
   align-items: center;
    background: #000;
    height: 250px;
    padding-top: 20px;
  }
  
  
  .ft-hd h2 {
    color: #fff;
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  footer h2 span {
    color: #f00;
  }
  
  .links a {
    display: none;
  }
  
 .s {
    padding-top: 0px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
  }  
  
  .ft-hd h3 {
  display: none;
  }
  
  .ft-hd h4 {
  display: none;
  }
  
  .sponsors h5 {
    display: none;
  }
  
  .sponsors .w {
    display: none;
  }

  .note{
    text-align: left;
    box-shadow:none;
    margin: 5px;
    margin-bottom: 8px;
    height: 130px;
    border-radius: 8px;
    padding: 8px;
  }
  .note mark{
  background-color: #fff;
  color: #f00;
  font-size: 16px;
  }
  
}

@media screen and (max-width: 450px) {
  .products-img img {
    width: 100%;
  }

  .topnav {
    padding-top: 15px;

  }

  .topnav li {
    font-size: 18px;
  }


  .wrapper {
    width: 100%;
  }

}