body {
  margin: 0;
  padding: 0;
  align-items: center;
  /* font-family:Arial, Helvetica, sans-serif; */
}

nav {
  position: fixed;
  z-index: 1;
  background-image: url(black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #262626;
  height: 55px;
  width: 100%;
  top: 0;
}

nav .topnav {
  float: right;
  list-style: none;
  margin-right: 25px;
}

nav .logo {
  width: 50px;
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.topnav li {
  display: inline-block;
  margin: 0 10px;
  font-size: 17px;
  line-height: 50px;
  padding-bottom: 4px;
}

nav .icon {
  display: none;
}

.closebtn {
  font-size: 36px;
  display: none;
}

.topnav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.topnav .active a {
  color: #f00;
  padding: 3px;
}

nav .nav-h1 {
  float: left;
  text-transform: uppercase;
  margin-left: 15px;
  line-height: 15px;
  letter-spacing: 8px;
  color: #fff;
  font-size: 30px;
}

nav .topnav li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

nav .topnav li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.cart-shop {
  position: relative;
}

.cart-shop:before {
  position: absolute;
  content: attr(data-count);
  width: 25px;
  height: 25px;
  font-size: 13px;
  line-height: 25px;
  border-radius: 15px;
  top: -9px;
  text-align: center;
  background-color: red;
  color: #fff;
  margin-left: 3px;
  opacity: 0;
}

.cart-shop.on:before {
  opacity: 1;
}

.offer {
  margin-top: 100px;
}

.offer h2 {
  text-align: center;
  font-size: 50px;
}

.card1 h5,
.h {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
  font-size: 22px;
}

.column-card {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px;
}

.card1 {
  margin: 5px;
  /* width: 24%; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.card1:hover {
  box-shadow: 0px 4px 8px 0px rgba(7, 26, 197, 0.725);
  transition: 0.5s ease-in-out;
  transform: translateY(-7px);
}

.card1 .h {
  font-size: 25px;
  color: blue;
  padding-top: 8px;
}

.card1 p {
  padding: 14px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.product h2 {
  text-align: center;
  padding-top: 10px;
  margin-top: 40px;
  font-size: 30px;
  padding-bottom: 10px;
  border: 2px solid #262626;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 20%;
  align-self: center;
}

.products-img {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.divider {
  margin-top: 30px;
  width: 85%;
}

.get-app img {
  margin-left: 20px;
}

.product h3 {
  padding-top: 28px;
  text-align: center;
  text-decoration: underline;
}

.card-infos {
  /* box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2); */
  margin: 10px;
}

.column-product {
  transition: 0.3s;
  margin-top: 20px;
}

.column-product:hover {
  transform: translateY(-7px);
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2),
    0px 0px 30px 0px rgba(0, 0, 1, 0.2);
  transition: 0.3s ease-in-out;
}

.products-img p {
  text-align: center;
}

.products-img img {
  height: 200px;
  width: 234px;
}

.products-img .cart-price {
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
}

.add-button {
  padding: 6px 20px;
  position: relative;
  margin-left: 60px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  border-radius: 5px;
}

.add-button:hover {
  background-color: #000000d5;
}

/* FOOTER START */

.ft-wrapper {
  display: flex;
  flex-direction: row;
  background: #000;
  height: 400px;
  padding-top: 20px;
  justify-content: space-around;
  position: relative;
  margin-top: 40px;
}

footer h2 {
  color: #fff;
  letter-spacing: 10px;
  font-size: 35px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}

footer h2 span {
  color: #f00;
}

.links a {
  display: flex;
  padding-top: 5px;
  flex-direction: column;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.s {
  padding-top: 35px;
  padding-left: 15px;
  font-size: 24px;
}

.ft-hd h4 a {
  color: #ccc;
}

.ft-hd h4 a:hover {
  color: #f00;
  text-decoration: underline;
}

.ft-hd h3 {
  color: #ccc;
}

.s:hover {
  color: #f00;
}

.links a:hover {
  color: #f00;
  text-decoration: underline;
}

.ft-hd h4 {
  font-size: 18px;
}

.sponsors {
  color: #fff;
  position: absolute;
  bottom: 10px;
}

.sponsors h5 {
  text-align: center;
  font-size: 15px;
}

.w {
  padding-left: 20px;
  font-size: 20px;
}

/* FOOTER END */

/* MEDIA QUERIES */

@media (max-width: 1270px) {
  .products-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .products-img img {
    width: 100%;
  }

  .add-button {
    padding: 6px 25px;
    position: relative;
    margin-left: 100px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .products-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .products-img img {
    width: 100%;
  }

  .column-product {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .column-product {
    display: grid;
    flex-wrap: wrap;
    flex: 50%;
  }

  .column-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-left: 3px; */
  }

  .card1 {
    /* margin: 5px 2px; */
    padding-bottom: 0px;
    /* width: 97%; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 600px) {
  .topnav {
    display: none;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
  }

  .topnav li {
    display: block;
    text-align: left;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    line-height: 50px;
  }

  nav .logo {
    display: block;
    float: left;
    margin-left: 10px;
  }

  nav .icon {
    float: right;
    /* margin-right: 50px; */
    padding-right: 35px;
    display: block;
    color: #fff;
    margin-top: 5px;
  }

  .topnav .closebtn {
    display: block;
    font-size: 36px;
    position: absolute;
    top: 0;
    right: 25px;
    color: #fff;
    text-decoration: none;
  }

  nav {
    height: 50px;
    width: 100%;
    position: fixed;
  }

  .nav-h1 {
    display: none;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .offer h2 {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
  }

  .column-card {
    display: block;
  }

  .column-product {
    display: block;
    margin-left: 3px;
    width: 100%;
  }

  .offer {
    width: 100%;
  }

  .card1 {
    /* margin: 2px; */
    padding-bottom: 10px;
    /* width: 97%; */
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
  }

  .card1:hover {
    box-shadow: none;
  }

  .card1 h5,
  .h {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .card1 .h {
    font-size: 20px;
    color: blue;
    /* padding-top: 0px; */
  }

  .card1 h5 {
    padding-top: 3px;
    font-size: 18px;
  }

  .card1 p {
    /* padding-left: 10px; */
    font-size: 17px;
    line-height: 20px;
  }

  .product {
    display: block;
  }

  .product h2 {
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    font-size: 30px;
    padding-bottom: 10px;
    border: none;
    width: 100%;
  }

  .products-img {
    display: block;
  }

  .product h3 {
    padding-left: 28px;
    font-size: 20px;
    text-transform: uppercase;
  }

  .add-button {
    padding: 6px 25px;
    position: relative;
    margin-left: 0px;
    margin-bottom: 0px;
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
  }

  .add-button:hover {
    background-color: #ccc;
  }

  .card-infos {
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    margin: 10px;
  }

  .card-infos p {
    font-size: 17px;
  }

  .products-img p {
    text-align: center;
    padding-bottom: 8px;
    font-weight: bold;
  }

  .products-img img {
    width: 100%;
    height: 350px;
  }

  /* FOOTER DETAILS */

  .ft-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    height: 250px;
    padding-top: 20px;
  }

  .ft-hd h2 {
    color: #fff;
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  footer h2 span {
    color: #f00;
  }

  .links a {
    display: none;
  }

  .s {
    padding-top: 0px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
  }

  .ft-hd h3 {
    display: none;
  }

  .ft-hd h4 {
    display: none;
  }

  .sponsors h5 {
    display: none;
  }

  .sponsors .w {
    display: none;
  }
}
